body {
	background-color: #eee;
}

#content {
	padding: 50px;
	margin: 40px;
	background-color: rgba(255, 255, 255, .40);
	text-align: center;
	p {
		font-family: 'Roboto', arial, sans-serif;
		font-size: 24px;
		line-height: 1.6;
		color: #111;
	}
}

h1 {
	text-transform: capitalize;
	font-family: sans-serif;
	font-size: 40px;
	padding: 10px;
	margin: 40px;
	background-color: rgba(20, 20, 20, .8);
	color: #fff;
}

#bigYellowCircle {
	background-image: url("../img/ch13/yellow_circle.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 90%;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	opacity: .75s;
	z-index: -1;
}

#blueSquare {
	background-image: url("../img/ch13/blue_square.svg");
	background-repeat: no-repeat;
	background-position: 97% bottom;
	background-size: 10%;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	opacity: .75;
	z-index: -2;
}

#greenPentagon {
	background-image: url("../img/ch13/green_pentagon.svg");
	background-repeat: no-repeat;
	background-position: 5% top;
	background-size: 50%;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	opacity: .75;
	z-index: -3;
}
